# Vite Backend URL for Docker
VITE_BACKEND_URL=http://localhost:5000

# ElevenLabs API Configuration
VITE_ELEVENLABS_API_KEY=sk_a502fc7c750ff71812612e80e92b387164db0e7cac96e576
VOICE_ID=SLVLJ4RCTvobsWx1j1Ds
